mixin header(data)
	-
		const tags = [
			{
				href: "#",
				text: "bitcoin"
			},
			{
				href: "#",
				text: "bittorrent"
			},
			{
				href: "#",
				text: "irc"
			},
			{
				href: "#",
				text: "news"
			},
			{
				href: "#",
				text: "privacy"
			},
			{
				href: "#",
				text: "programming"
			},
			{
				href: "#",
				text: "security"
			}
		];
		const nav = [
			{
				href: "#",
				text: "team"
			},
			{
				href: "#",
				text: "contact"
			}
		];

	header.header
		.header_in
			.header_tags
				.header_tags_title Tags:
				+tags(tags)
			.header_burger
				button.burger(type="button")
					.burger_line.burger_line--top
					.burger_line.burger_line--center
					.burger_line.burger_line--bottom
			.header_nav
				+main_nav(nav)
		.header_bg