mixin link_block(data, mod)
	- mod = mod || '';
	.link_block
		.link_block_header
			.link_block_icon
				+icon(data.icon)
			h4.link_block_title= data.title
		ul.link_block_list
			each link in data.list
				li.link_block_item
					a.link_block_link(href="#")= link.text
		