mixin recent_posts(data, mod)
	- mod = mod || '';
	.recent_posts
		h2.recent_posts_title= data.title
		.recent_posts_list
			+post_list(data.post_list_data)
		.recent_posts_button
			button.btn_base(type="button")= data.button_data.text