mixin sidebar(data, mod)
	- mod = mod || '';
	.sidebar(class=mod)
		.sidebar_search
			+search(data.search_data)
		.sidebar_link_block
			+link_block(data.announcements_data)
		.sidebar_link_block
			+link_block(data.popular_posts_data)
		.sidebar_poster
			+poster(data.poster_data)
		.sidebar_tag_cloud
			+tag_cloud(data.tag_cloud_data)