@use "sass:math";
@use "sass:color";

@mixin st_btn() {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;

	&:hover, &:focus {
		text-decoration: none;
	}
}

%btn_theme_green {
	font-family: inherit;
	font-weight: 500;
	color: $color_primary;
	text-transform: uppercase;
	letter-spacing: math.div(58em, 1000);

	background: transparent;
	border: 1px solid $color_primary;

	transition: background .3s ease, border-color .3s ease;
	will-change: background, border-color;

	@include st_btn();

	&:hover {
		color: $white;

		background: $color_primary;
	}

	&:focus {
		color: $white;

		background: color.adjust($color_primary, $lightness: -10%);
		border-color: color.adjust($color_primary, $lightness: -10%);
	}
}

%btn_size_default {
	min-width: 16.2rem;

	line-height: 2.6rem;

	border-radius: 1.8rem;
}
