@use "sass:math";
@use "sass:color";

.button {
	min-width: 16.2rem;

	font-family: inherit;
	font-weight: 500;
	color: $color_primary;
	line-height: 2.6rem;
	text-transform: uppercase;
	letter-spacing: math.div(58em, 1000);

	background: transparent;
	border: 1px solid $color_primary;
	border-radius: 1.8rem;

	transition: background .3s ease, border-color .3s ease;
	will-change: background, border-color;

	cursor: pointer;

	&:hover {
		color: $white;

		background: $color_primary;
	}

	&:focus {
		color: $white;

		background: color.adjust($color_primary, $lightness: -10%);
		border-color: color.adjust($color_primary, $lightness: -10%);
	}
}