@use "sass:math";

.main_nav_list {
	@extend %global_flex_block_row_wrap_flex-start;
}

.main_nav_item {
	&:not(:last-child) {
		margin-right: 2.4rem;
	}
}

.main_nav_link {
	display: block;

	font-weight: 500;
	color: $color_text_base;
	text-transform: uppercase;
	letter-spacing: math.div(72em, 1000);
}