.mobile_menu {
	@extend %transition_transform;

	$width: 22.6rem;

	position: fixed;
	top: 0;
	right: -$width;

	width: $width;
	max-width: 100%;
	height: 100vh;

	background: $white;

	transform: translateX(0);

	@include z-index(mobile_menu);

	@include bp($point_2, min) {
		display: none;
	}

	&.mobile_menu--open {
		box-shadow: -3px 0 3px rgba($black, .3);

		transform: translateX(-$width);

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;

			display: block;
			width: 1000rem;
			height: 1000rem;

			background: rgba($black, .8);

			content: "";
		}
	}
}

.mobile_menu_in {
	display: flex;
	flex-direction: column;

	padding: 1rem 1.4rem;
	height: 100%;

	background: $white;

	overflow-x: hidden;
	overflow-y: auto;
}

.mobile_menu_cross {
	align-self: flex-end;

	margin: 0 -.8rem 2rem 0;
	width: 3rem;
	height: 3rem;
}

.mobile_menu_tags {
	margin-bottom: 2rem;
}

.mobile_menu_tags_title {
	margin-bottom: 1rem;

	font-weight: 500;
	text-transform: uppercase;
}