@use "sass:math";

.post {
	--width: 100%;

	&.post--below_point_1 {
		.post_img {
			margin-right: calc(0.24 * var(--width) - 9.1rem);
		}
	}

	&.post--below_point_2 {
		.post_in {
			flex-direction: column;
		}

		.post_img {
			position: relative;

			margin: 0 0 1.6rem;
			padding-top: 64.2%;

			img {
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				object-fit: cover;
			}
		}

		.post_comments_count {
			font-size: 1rem;
			line-height: 1.2rem;
		}

		.post_comments_icon svg {
			width: 1.2rem;
			height: 1.2rem;
		}
	}

	&.post--below_point_3 {
		.post_title {
			font-size: 1.2rem;
		}
	}
}

.post_in {
	display: flex;
}

.post_img {
	margin-right: 2.6rem;

	img {
		display: block;
		width: 17.6rem;
	}
}

.post_title {
	margin-bottom: .6rem;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.4;

	a {
		color: $color_text_darker;
	}
}

.post_author {
	margin-bottom: .6rem;
}

.post_author_name {
	margin-right: 3px;

	color: $color_text_base;

	@media (pointer: coarse) {
		line-height: 2rem;
	}
}

.post_author_date {
	color: $color_text_gray;
	text-transform: uppercase;
}

.post_tags {
	margin-bottom: 1rem;

	font-size: .8rem;
	line-height: 1rem;
	color: $color_primary;
	text-transform: uppercase;
	letter-spacing: math.div(42em, 1000);

	@media (pointer: coarse) {
		line-height: 1.8rem;
	}
}

.post_comments {
	display: flex;
	align-items: flex-end;
}

.post_comments_count {
	line-height: 1rem;
	color: $color_text_gray;
}

.post_comments_icon svg {
	width: 1rem;
	height: 1rem;
}