@use "sass:math";

.post_list {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;

	margin: -1.8rem -1.8rem -1.8rem 0;

	&.post_list--above_point_1 {
		.post_list_item {
			width: 100%;
		}
	}

	&.post_list--below_point_1 {
		.post_list_item {
			width: 50%;
		}
	}

	&.post_list--below_point_2 {
		.post_list_item {
			width: 100%;
		}
	}
}

.post_list_item {
	padding: 1.8rem 1.8rem 1.8rem 0;

	border-bottom: 1px solid #EBECED;
}