@use "sass:math";

.post_list {
	@extend %global_flex_block_row_wrap_flex-start;

	margin: 0 -1.8rem -1.8rem 0;
}

.post_list_item {
	padding: 1.8rem 1.8rem 1.8rem 0;

	border-bottom: 1px solid #EBECED;

	&:first-child {
		padding-top: 0;
	}
}