.recent_posts {
	@extend %global_flex_block_row_wrap_flex-start;

	@include bp($point_5) {
		.recent_posts_title {
			margin-bottom: 1.2rem;
		}
	}
}

.recent_posts_title {
	margin-bottom: 2.4rem;
	width: 100%;

	font-size: 2rem;
	font-weight: 300;
	color: $color_text_darker;
	line-height: 2.8rem;
}

.recent_posts_list {
	margin-bottom: 2.6rem;

	overflow: hidden;
}

.recent_posts_button {
	align-self: center;
}