@use "sass:math";

.tags {
	@extend %global_flex_block_row_wrap_flex-start;

	&.tags--vertical {
		.tags_item {
			width: 100%;

			&:not(:last-child) {
				padding-right: 0;
				margin-bottom: 1rem;
			}
		}
	}
}

.tags_item {
	&:not(:last-child) {
		padding-right: 2.4rem;
	}
}

.tags_link {
	display: block;

	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: math.div(58em, 1000);
}