@use "sass:math";

.tags {
	display: flex;

	&.tags--vertical {
		flex-direction: column;

		.tags_item {
			&:not(:last-child) {
				padding-right: 0;
				margin-bottom: 1rem;
			}
		}
	}
}

.tags_item {
	&:not(:last-child) {
		padding-right: 2.4rem;
	}
}

.tags_link {
	display: block;

	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: math.div(58em, 1000);
}