extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block main
	include ../blocks/recent_posts
block sidebar
	include ../blocks/sidebar