include ../templates/_global_vars
include ../templates/_global_mixins
include ../templates/_project_vars
include ../templates/_project_mixins

block vars
doctype
html(lang="en")
	head
		+head(array)
	body(class= array.body_class)
		+header
		.wrapper(class= array.layout_mod)
			.base(class= array.layout_mod)
				section.base_in
					section.base_main
						block main
					aside.base_sidebar
						block sidebar
			+footer
		+mobile_menu
		block local_popup
