//------------------------------------------------------------base styles
:root {
	--full-screen: calc(var(--vh, 1vh) * 100);

	--height-header: 9.6rem;
	--height-footer: 10rem;
	--gl-indent: 3rem;

	@include bp($point_5 - 1) {
		--height-header: 7.8rem;
	}
}

html {
	height: 100%;
}

body {
	position: relative;

	display: flex;
	height: 100%;

	font-family: $font_1;
	font-size: $font_size_base;
	line-height: 1.4rem;
	color: $color_text_base;

	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $body_bg;

	@supports (display: grid) {
		display: block;
	}
}

.wrapper {
	position: relative;

	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: auto !important;

	overflow-x: hidden;
}

.base {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;

	width: 100%;
	position: relative;
	padding: var(--height-header) 0 0;
}

.base_in {
	@extend %container;

	flex-grow: 1;
	display: flex;
	align-items: stretch;

	box-sizing: content-box;
	padding: 0 1rem;
}

.base_main {
	flex-grow: 1;

	@include bp($point_2, min) {
		padding-right: 1.2rem;
	}
}

.base_sidebar {
	flex: 0 0 25rem;

	padding-left: 3.6rem;

	border-left: 1px solid #EBECED;

	@include bp($point_2 - 1) {
		display: none;
	}
}

a {
	text-decoration: none;
	color: $color_link_base;
}

.elements_list {
	padding: 3rem;
}

//------------------------------------------------------------base styles###
